*{
	margin: 0;
	padding: 0;
	color: #133046;
}
li{
	list-style: none;/* 去掉项目符号 */
}
a{
	text-decoration: none;/* 去掉下划线 */
	color: #133046;
}
body{
	font-family: 'Opan Sans',sans-serif;
	font-weight: normal;/* 字体加粗类型 */
	font-style: normal;/* 字体类型是否斜体*/
	color: #133046;
	background-color: #F1F1F1;
	height: 1000px;
	/* border:1px solid #000000; */
}
h1,h2,h3,h4,h5,h6{
	font-family: "Baloo",cursive;
	letter-spacing: 2px;/* 字符与字符之间间距 */
	text-align: center;/* 文本居中 */
}
h1{
	font-size: 52px;
}
h2{
	font-size: 48px;
}

/* box-sizing: border-box;/* 固定元素的大小 */ */